@font-face {
    font-family: "Source Sans 3";
    src: url(../fonts/SourceSans3-Light.woff2);
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Source Sans 3";
    src: url(../fonts/SourceSans3-Regular.woff2);
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Source Sans 3";
    src: url(../fonts/SourceSans3-SemiBold.woff2);
    font-weight: 600;
  }