@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}