// ================ОБЩИЕ СТИЛИ=================//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%; //10px
  scroll-behavior: smooth;
}

body {
  height: 100%;
  // сюда добавится шрифт //
}

a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

// ================СТИЛИ ЛОГОТИПА=================//
.logo {
  width: 120px;
  height: 25px;
}

//Шаблон для ограничения контента, добавлять к стилям командой @extend %container;
%container {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1320px;
  }
}
