// ================ОБЩИЕ СТИЛИ=================//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%; //10px
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $gray;
}

a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

// ================СТИЛИ ЛОГОТИПА=================//
.logo {
  width: 120px;
  height: 25px;
}

//Шаблон для ограничения контента, добавлять к стилям командой @extend %container;
%container {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 $global-side-padding;

  @media screen and (max-width: 767px) {
    padding: 0 $global-side-padding-mobile;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }


  @media screen and (min-width: 1400px) {
    max-width: 1320px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }
}
