$global-side-padding: 20px; //для одинаковых отступов по бокам сайта, добавялем в самый верхний элемент своего раздела
$global-side-padding-mobile: 10px;

$gray: #505050;
$light-gray: #6f6f6f;
$accent-red: #ff0016;
$body-color: #F5F5F5;
