.product-card {
    background-color: #fff;
    padding:25px;
}

.product-thumb {
    max-height: 311px;
}

.product-thumb img {
    max-width: 100%;
    max-height:100%;
    padding-bottom: 25px;
}

.product-card {
    transition: all .3s;
    border-radius: 10px;
    color: $gray;
    font-size: 2em;
    font-weight: 300;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-details h4{
    height: 30px;
    overflow: hidden;
    font-size: 1em;
    font-weight: 600;
}

.product-details p {
    height: 130px;
    overflow: hidden;
}

.product__btn {
    background-color: $accent-red;
    color: #fff;
    font-size: 2.8em;
    font-weight: 300;
    height:90px;
}

.product__btn-container {
    padding-top:50px;
    padding-bottom:50px;
}

.product__btn-link {
    display: inline-block;
}

.product__btn b {
    display: inline-block;
    padding-top: 17px;
}

@media (min-width:1400px) {
    .product__product-details {
        padding-top:25px;
    }
}