.hero-section__image-block-products {
    max-width: 100vw;
    min-width: 320px;
    height: 25vw;
    max-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/main__products.png");
    font-style: italic;
    color: white;
    text-transform: uppercase;
   
}


.product-card {
    background-color: #fff;
    padding:25px;
}

.product-thumb {
    max-height: 311px;
}

.product-thumb img {
    max-width: 100%;
    max-height:100%;
}

.product-thumb .img {
    padding-bottom: 25px;
}

.product-card {
    transition: all .3s;
    border-radius: 10px;
    color: $gray;
    font-size: 2em;
    font-weight: 300;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-details h4{
    height: 30px;
    overflow: hidden;
    font-size: 1em;
    font-weight: 600;
}

.product-card_style {
    margin: 40px;
    @media (max-width:1200px) {
        margin:15px;
    }
}

.product__product-details h3 {
    height: 85px;
    overflow: hidden;
    font-size: 0.9em;
}

.product-details p {
    height: 130px;
    overflow: hidden;
}

.product__product-details p {
    height: 190px;
    overflow: hidden;
    font-size: 0.8em;
}

.product__btn {
    background-color: $accent-red;
    color: #fff;
    font-size: 3em;
    font-weight: 300;
    padding: 22px 50px;
    border-radius: 15px;
    @media (max-width:900px) {
        font-size: 2.5em;
    }

    @media (max-width:600px) {
        font-size: 1.8em;
        padding: 15px 30px;
    }

    @media (max-width:400px) {
        font-size: 1.4em;
        padding: 12px 25px;
        border-radius: 10px;
    }
  
}

.product__btn-container {
    padding-top:50px;
    padding-bottom:50px;
    @media (max-width:600px) {
        padding-top:25px;
        padding-bottom:25px;
    }

}

.product__btn-link {
    display: inline-block;
}

.product-card_style {
    background-color: #D9D9D9;
}


.product__box-title {
    padding-bottom:30px;
    font-size: 4em;
    font-weight: 700;
    color: #ff0016;
    text-shadow: 1px 1px 2px #bebebe;
  }
  @media screen and (max-width: 1440px) {
    .product__box-title {
      font-size: 3.3em;
      margin: 30px 20px 0px 30px;
    }
  }
  @media screen and (max-width: 1024px) {
    .product__box-title {
      font-size: 3em;
    }
  }
  @media screen and (max-width: 800px) {
    .product__box-title {
      font-size: 2.2em;
      margin: 20px 20px 0px 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .product__box-title {
      font-size: 2em;
      margin: 0px 0px 0px 0px;
    }
  }
  @media screen and (max-width: 400px) {
    .product__box-title {
      font-size: 1.6em;
    }
  }



/* .product__box-title {
    padding-bottom:30px;
} */
.product__product-details-main {
    @media (max-width:991px) {
        padding-top:25px;
   }
}


.product__title {
    @media (max-width: 767px) {
        display:flex;
        justify-content: center;
    }
}

.main__nav-padding {
    margin-bottom: 0 !important;
}

.product__img img {
    height:200px;
    object-fit:cover;
    margin-bottom:10px;
}

.main__product-title {
    color: transparent;
    padding:0;
    margin:0;
}