header {
    padding: 0 $global-side-padding;
  }

  .navbar-toggler-icon {
    width: 28px;
    height: 28px;
    background-image: url(../icons/menu.svg);
  }

  .header__icon-home {
    width: 34px;
    height: 48px;
    padding-bottom: 5px;}


    .main  {
        background-color: #F5F5F5;
    }
    .main__container {
        // margin: 0 317px 0 317px;
    }
    .main__logo {
        max-width: 100%;
        min-width: 320px;
        margin: 0 auto;
    }

    .main__nav {
        margin-top: 54px;
        margin-bottom: 54px;

    }
    .main__title {
        margin-bottom: 5px;
    }
    .main__paragraph {
        margin-bottom: 51px;
    }
    .breadcrumb-item {
        font-weight: 700;
        font-size: 3em;
    }
    
    .main__contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 54px;
    }
    .main__contacts__element {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 373px;
        height: 265px;
        border-radius: 15px;
        padding: 51px;     
        margin: 10px 0 0 0;
        font-size: 3em;
    }
    .main__contacts__element-num, .main__contacts__element-email {
        font-weight: 600;
    }
  .main__container-elements {
    --bs-gutter-x: 15rem;
  }
    