.section-dropdowns {
    display: flex;
    color: #505050;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0 0;
    position: relative;
    @extend %container;
    @media (max-width: 2600px) {
        margin: 0 auto;
        }
    }
    .dropdowns__container {
        color: #505050;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        @media (max-width: 1250px) {
            max-width: 960px;
            }
            @media (max-width: 2600px) {
            margin: 0 auto;
            }
        } 
    .dropdowns__title {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        color: #393939;
        font-weight: 700;
        line-height: 1.2;
        font-size: 32px;
        margin-bottom: 24px;
        @media screen and (max-width: 320px) {
            font-size: 20px;
            margin-bottom: 16px;
            }
        @media screen and (max-width: 376px) {
            font-size: 24px;
            }
        @media screen and (max-width: 768px) {
            font-size: 28px;
            }
            @media (max-width: 2600px) {
            font-size: 32px;
            }
        }
    .image-header {
        color: #505050;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 300px;

        @media screen and (max-width: 320px) {
            height: 180px;
            }
        @media screen and (max-width: 376px) {
            height: 200px;
            }
        @media screen and (max-width: 768px) {
            height: 250px;
            }
            @media (max-width: 2600px) {
            height: 300px;
            }
        }

        .dropdowns__img {
        display: flex;
        float: right; 
        width: 350px; 
        height:auto; 
        margin-left: 22px; 
        margin-right: 22px;

        @media screen and (max-width: 320px) {
            width: 100%; 
            height: auto;
            }

        @media screen and (max-width: 376px) {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
        }
        
        @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
            
        }
        
        @media (max-width: 1250px) {
            width: 350px;
            height: 194px;
            margin-bottom: 20px;
        }
    }

    .main__nav {
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        margin: 54px 0 54px;
    
        .active {
            color: $accent-red;
        }
    
        .breadcrumb-item:hover {
            color: $accent-red;
        }
    }
    .breadcrumb {
        color: #505050;
        box-sizing: border-box;
        margin: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
        padding: 0;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 28px;
        @media screen and (max-width: 376px) {
            font-size: 12px;
            margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            font-size: 13px;
            }
        }
    }
    .breadcrumb-item {
    display: inline;
    }
    
    .breadcrumb-item a {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 0.62222;
    @media screen and (max-width: 376px) {
        font-size: 12px;
        }
    @media screen and (max-width: 768px) {
        font-size: 13px;
        }
    }
    
    .breadcrumb-item:last-child a {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        color: #FF0000;
        @media screen and (max-width: 376px) {
            font-size: 12px;
            }
        @media screen and (max-width: 768px) {
            font-size: 13px;
            }
        }
    
    .breadcrumb-item a:hover,
    .breadcrumb-item a:focus,
    .breadcrumb-item a:active {
        color: #FF0000;
    }

    .dropdowns-text {
        color: #505050;
        box-sizing: border-box;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        margin-bottom: 24px;
        font-size: 1em;
        margin-bottom: 40px;
        @media screen and (max-width: 376px) {
            font-size: 14px;
            }
        @media screen and (max-width: 768px) {
            font-size: 15px;
            }
            @media (max-width: 2600px) {
            font-size: 16px;
            }
    }
