.footer {
  width: 100vw;
  font-family: "Source Sans 3", sans-serif;
}
.footer__container {
  height: 180px;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  background-color: #d9d9d9;
  height: 50px;
}
.footer__address {
  margin-bottom: 0;
}

.footer__contacts {
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  list-style: none;
  font-weight: 400;
  font-size: 26px;
  color: $light-gray;
}
.footer__contacts li:hover {
  opacity: 0.5;
}
.footer__list {
  padding-left: 40px;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: $light-gray;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.footer__list li:hover {
  opacity: 0.5;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer__copyright-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: $light-gray;
}
@media screen and (max-width: 1200px) {
  .footer__contacts {
    padding-right: 15px;
    gap: 20px;
    font-size: 22px;
  }
  .footer__list {
    padding-left: 15px;
    gap: 15px;
    font-size: 22px;
  }
}
@media screen and (max-width: 850px) {
  .footer__contacts {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer__list {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    padding-right: 40px;
  }
}
@media screen and (max-width: 490px) {
  .footer__container {
    flex-direction: column;
    height: 250px;
  }
  .footer__list {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 0;
  }
  .footer__contacts {
    padding-top: 10px;
  }
  .footer__copyright {
    flex-direction: column;
    height: 60px;
  }
}
