.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 0 $global-side-padding;

  font-size: 2.2em;

  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.12);

  .header__home-link {
    padding: 0;
    transition: 0.3s;
  }

  .header__home-link:hover {
    transform: scale(1.05);
  }

  .header__home-icon {
    width: 34px;
    height: 48px;
    padding-bottom: 5px;

    fill: #ff0016;

    transition: 0.3s;
  }
}

.navbar {
  padding: 0;

  .navbar-toggler-icon {
    width: 28px;
    height: 28px;
    background-image: url(../icons/menu.svg);
  }
}

.dropdown-item {
  font-size: 1.6em;
}

@media screen and (max-width: 767px) {
  .dropdown-menu {
    display: block;
    width: 100%;
    opacity: 1;
    visibility: visible;

    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .nav-item {
    padding: 15px 10px;
    margin-right: 2vw;

    transition: background-color 0.2s ease;
  }

  .nav-item:hover {
    color: white;
    background-color: #ff0016;
  }

  .dropdown-menu {
    display: block;
    top: 100%;
    left: auto;
    right: 0;
    margin-top: 0;
    width: 270px;

    border: none;
    border-radius: 0;

    opacity: 0;
    visibility: hidden;

    background-color: #ff0016;

    transition: opacity 0.2s ease, visibility 0.2s ease;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  .dropdown-item {
    padding: 10px 15px;

    color: #fff;
  }

  .dropdown-item:hover {
    color: #fff;
    background-color: #ec0518;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    font-size: 2.6em;
  }

  .dropdown-item {
    font-size: 2em;
  }
}
