.hero-section__image-block {
  max-width: 100vw;
  height: 45vw;
  max-height: 898px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/section-hero.png");
  font-style: italic;
  color: white;
  text-transform: uppercase;
  @media screen and (max-width: 600px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/hero-section-mobile.png");
    height: 113vw;
  }
  .image-block__container {
    @extend %container;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .text-part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }
      .text-part__title {
        font-size: 56px;
        text-align: center;
        @media screen and (max-width: 1400px) {
          font-size: 45px;
        }
        @media screen and (max-width: 1100px) {
          font-size: 40px;
        }
        @media screen and (max-width: 900px) {
          font-size: 35px;
        }
        @media screen and (max-width: 600px) {
          font-size: 25px;
        }
      }
      .text-part__logo {
        width: 350px;
        margin-top: 5px;
        @media screen and (max-width: 1400px) {
          width: 250px;
        }
        @media screen and (max-width: 1100px) {
          width: 200px;
        }
        @media screen and (max-width: 900px) {
          width: 160px;
        }
        @media screen and (max-width: 600px) {
          width: 120px;
        }
        @media screen and (max-width: 450px) {
          width: 80px;
          margin: 0 0;
        }
        img {
          width: 100%;
        }
      }
      .text-part__location {
        font-size: 65px;
        margin-top: 5px;
        @media screen and (max-width: 1400px) {
          font-size: 50px;
        }
        @media screen and (max-width: 1100px) {
          font-size: 45px;
        }
        @media screen and (max-width: 900px) {
          font-size: 40px;
        }
        @media screen and (max-width: 600px) {
          font-size: 30px;
        }
        @media screen and (max-width: 450px) {
          margin: 0 0;
        }
      }
    }
  }
}

.hero-section__title {
  @extend %container;
  margin-top: 37px;
  @media screen and (max-width: 1400px) {
    margin-top: 25px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
  @media screen and (max-width: 400px) {
    margin-top: 10px;
  }
  .title__main-page {
    width: 90%;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 54px;
    @media screen and (max-width: 1200px) {
      font-size: 25px;
      line-height: 40px;
      margin: 0 auto;
      text-align: center;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 25px;
    }
    @media screen and (max-width: 400px) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}