@import "../sass/normalize";
@import "../sass/fonts";
@import "../sass/vars";
@import "../sass/templates";

@import "../sass/components/header";
@import "../sass/components/main";
@import "../sass/components/hero-section";
@import "../sass/components/section-advantages";
@import "../sass/components/cards";
@import "../sass/components/story";
@import "../sass/components/footer";

//по аналогии сюда нужно будет добавить свои части
@import "../sass/components/dropdown";

//по аналогии сюда нужно будет добавить свои части

@import "../sass/components/main";

@import "../sass/components/contacts.scss";
